
.card-container {
  position: relative;
  height: 90vw;
  width: 90vw;
}

.fp-card {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 5rem auto;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.fp-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: white;
  color: black;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  font-weight: 700;
  // z-index: 2;
  z-index: 0;
}

.fp-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background: black;
  line-height: 100px;
  font-size: 24px;
  font-weight: 700;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);  
  transform: rotateY(-180deg);  
  z-index: 1;
}


#RefreshBtn{
  margin-top: 400px;
  z-index: 10;
}



// .card {
//   width: 100%;
//   height: 100%;
//   -webkit-backface-visibility: hidden;
//   -ms-backface-visibility: hidden;
//   -moz-backface-visibility: hidden;
//   backface-visibility: hidden;
//   position: absolute;
//   top: 0px;
//   left: 0px;
// }
// .front {
//   z-index: 2;
// }
// .back {
//   z-index: 1;
//   -webkit-transform: rotateX(-180deg);
//   -ms-transform: rotateX(-180deg);
//   -moz-transform: rotateX(-180deg);  
//   transform: rotateX(-180deg);  
// }

